.meal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.meal img {
  width: 200px;
  margin: 0 auto;
}

.description, .price {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.popupContent {
  text-align: center;
}

.popupContent h3 {
  margin-top: 0;
}

.popupContent button {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .meal img {
    width: 100%;
    margin-bottom: 10px;
  }
  .description, .price {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .description, .price {
    display: block;
  }
}